<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD10ldpPqY5DKLORvcPnzD3VpY5z7eWvC4</string>
	<key>GCM_SENDER_ID</key>
	<string>782817384369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group2.taste-craft</string>
	<key>PROJECT_ID</key>
	<string>tastecraft</string>
	<key>STORAGE_BUCKET</key>
	<string>tastecraft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782817384369:ios:33f921103504e009dc0f90</string>
</dict>
</plist>